// Global color for body
$body-bg: #ffffff;
$selection-color: #00385a;
$text-color: #000000;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Borders
$list-group-border: #d3e0e9;
$list-group-border: #d3e0e9;
$navbar-default-border: #d3e0e9;
$panel-default-border: #d3e0e9;
$panel-inner-border: #d3e0e9;
$turquoise-border-color: #00385a;

// Navbar
$navbar-default-bg: #ffffff;

// Forms
$label-font-color: #666666;
$form-control-border-color: #ccc;
$form-control-focus-border-color: #7c7c7c;
$form-control-error-border-color: #a94442;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Colors
$lightest-green: #75af96;
$green: #277554;
$lightest-grey: #f5f4f4;
$grey: #4e4e4e;
$dark-grey: #363636;

// Anchor
$link-color: $green;
$link-hover-color: $lightest-green;
