@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($arguments) {
    -webkit-box-shadow: #{$arguments};
    -moz-box-shadow: #{$arguments};
    box-shadow: #{$arguments};
}

@mixin placeholder-font-style($style) {
&::-webkit-input-placeholder {
    font-style: $style;
}

&:-ms-input-placeholder {
    font-style: $style;
}

&:-moz-placeholder {
    font-style: $style;
}

&::-moz-placeholder {
    font-style: $style;
}
}

@mixin position($type, $top:null, $right:null, $bottom:null, $left:null) {
    position: $type;
    @if (top)    { top:    $top;    }
    @if (right)  { right:  $right;  }
    @if (bottom) { bottom: $bottom; }
    @if (left)   { left:   $left;   }
}

@mixin transform($arguments) {
    -webkit-transform: #{$arguments};
    -moz-transform: #{$arguments};
    transform: #{$arguments};
}

@mixin transition($arguments) {
    -webkit-transition: $arguments;
    -moz-transition: $arguments;
    transition: $arguments;
}

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

@mixin size($height, $width) {
    height: $height;
    width: $width;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($arguments) {
    -webkit-animation: #{$arguments};
    -moz-animation: #{$arguments};
    -ms-animation: #{$arguments};
    -o-animation: #{$arguments};
    animation: #{$arguments};
}

@mixin color($bg, $color) {
    background-color: $bg;
    color: $color;
}
