// Global fonts for body
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Forms
$label-font-weight: 700;
$help-block-font-size: 12px;

// Icons
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
