#about {
    background-color: $lightest-grey;
    padding: 100px 0px 100px 0px;
    @include border-radius(50% 0%);
    color: $grey;

    h2 {
        color: $dark-grey;
        font-family: "Fira Sans", "Source Sans Pro", sans-serif;
        font-weight: $bold;
    }

    .team {
        color: $grey;

        &.daan {
            margin-top: 50px;
            margin-bottom: 25px;
        }

        &.miriam {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .profile {
            width: 150px;
            height: 150px;
            @include border-radius(100px);
            background: $lightest-green;
            margin-right: 20px;
        }

        img {
            width: 150px;
            height: 150px;
            mix-blend-mode: multiply;
            filter: grayscale(50%);
        }

        .col-md-8 {
            h4 {
                font-family: "Fira Sans", "Source Sans Pro", sans-serif;
                font-size: 18px;
                font-weight: $bold;
                color: $dark-grey;
            }

            color: $grey;
        }        
    }
}

@include media('<tablet') {
    #about {
        @include border-radius(25% 0%);
        padding: 35px;
    }
}