/*
 * Import all modules
 */
@import "../modules/all";

/*
 * Media query breakpoints (include media library)
 */
$breakpoints: (phone: 320px, tablet: 768px, desktop: 992px);

/*
 * Generic styling
 */
::selection {
    background-color: $green;
    color: white;
}

.background-lightest-green {
    background-color: $lightest-green;
    color: white;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;    
}
