.btn-white {
    @extend .btn-default;

    background-color: rgba(39, 117, 84, 0.2);
    color: white;
    border: 2px solid white;
    @include border-radius(2px);
    @include transition(.25s ease-in-out);

    &:hover,
    &:focus {
        background-color: rgba(39, 117, 84, 0.6);
        border: 2px solid white;
        color: white;

        &:focus {
            @include transform(scale(1.02));
            background-color: rgba(39, 117, 84, 0.6);
            color: white;
        }
    }
}

.btn-big {
    padding: 12px 20px;
}
