header {
    @include position(relative);
    height: 65vh;
    min-height: 600px;
    background: linear-gradient(90deg, $green, $lightest-green), url('/images/rawpixel-com-358750.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;

    .header-text {
        margin-top: 22vh;

        h1 {
            font-family: "Fira Sans", "Source Sans Pro", sans-serif;
            font-weight: $bold;
            color: white;

            i {
                font-size: 60px;
            }
        }

        p {
            font-size: 22px;
            color: white;
        }
    }
}
