#how-it-works {
    h4 {
        font-family: "Fira Sans", "Source Sans Pro", sans-serif;
        font-size: 18px;
        font-weight: $bold;
        color: $dark-grey;

        small {
            color: $grey;
            font-weight: $bold;
        } 
    }

    .fa {
        color: $lightest-green;
    }
}

@include media('<tablet') {
    #how-it-works {
        h4,
        p,
        .fa {
            padding: 0px 15px 0px 15px;
        }
    }
}
