.navbar {
    @include position(absolute, 0px, 0px, auto, 0px);
    z-index: 9999;
    min-height: 100px;
    background-color: transparent;
    border: none;

    .navbar-brand {
        padding: 0px 15px;
        height: 100px;
        line-height: 100px;
        color: white;

        .logo-white {
            display: inherit;
            margin-top: 24px;
        }

        .logo-dark {
            display: none;
        }        
    }

    .navbar-toggle {
        margin-top: 23px;
        padding: 9px 10px;
        @include border-radius(2px);
        border-color: $green;

        &:focus {
            background-color: $lightest-green;
        }

        .icon-bar {
            background-color: $green;
        }
    }

    .navbar-nav {
        li {
            a {
                color: white;
                @include transition(.25s ease-in-out);

                &:hover,
                &:focus,
                &:active {
                    color: white;
                    line-height: 23px;
                }
            }
        }
    }
}

@include media('>tablet') {
    .navbar-nav { 
        li {
            a {
                padding-top: 36px;
                padding-bottom: 36px;
                line-height: 27px;
            }
        }
    }
}

@include media('<tablet') {
    .navbar {
        @include position(fixed, 0px, 0px, auto, 0px);
        background-color: white;
        min-height: 60px;

        .navbar-brand {
            padding: 11px 15px;
            height: 60px;
            line-height: 60px;
            color: black;
            margin-top: 0px;

            .logo-white {
                display: none;
            }

            .logo-dark {
                display: inherit;
            }                
        }

        .navbar-toggle {
            margin-top: 14px;
            padding: 9px 10px;
        }

        .navbar-nav {
            li {
                a {
                    color: $grey;

                    &:hover,
                    &:focus,
                    &:active {
                        color: $dark-grey;
                        line-height: 28px;
                    }                    
                }
            }
        }
    }    
}
