.contact {
    h1 {
        font-weight: $bold;
    }

    #partners {
        li {
            padding: 15px;

            img {
                height: 45px;
                filter: grayscale(1);
                @include transition(.25s ease-in-out);

                &:hover {
                    filter: grayscale(0);
                }
            }        
        }

        p {

            small {
                color: white;
            }

            a {
                color: white;
                text-decoration: underline;

                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}