.skills {
    p {
        color: $grey;
    }

    h4 {
        color: $dark-grey;
        font-size: 20px;
        font-weight: $bold;
        margin-bottom: 10px;        
    }

    .icon {
        height: 90px;
        width: 90px;
        color: $lightest-green;
        margin-left: 30px;
        font-size: 55px;

    }
}

@include media('<992px') {
    .skills {
        h4,
        p {
            padding: 0px 15px 0px 15px;
        }

        .icon {
            margin-bottom: -50px;
            margin-left: 0px;
            padding: 0px 15px 0px 15px;
        }
    }
}
